<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{url_for('home.homepage')}}" >
      Lol
    </a>
  </div>
  {%if username%}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="signOut();">Logout</a></li>
        </ul>
      </li>
    </ul>
  {%endif%}
</div>
</nav>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
    console.log('User signed out.');
    $.get("{{url_for('user_control.logout')}}", function() {
      window.location.replace('/login')
      });
    });
  }
  function onLoad() {
    gapi.load('auth2', function() {
      gapi.auth2.init();
    });
}
</script>

