{% extends "layout.html" %}
{% block body %}

<div id = "body">
</div>

<script type="text/babel">
function DataTable(props) {
  //pass json object into function? headers, rows
  var Table = Reactable.Table;
  var Td = Reactable.Td;
  var Tr = Reactable.Tr;
  var PaginationLimit = 100;
  const dataArray = []
  if (props.data === null ) {
    return null
  }
  else {
    if (props.data.full_data.length <= PaginationLimit) {
      PaginationLimit = null;
    }
    for (let row of props.data.full_data) {
      var rowArray = [];
      const tdStyle = {'backgroundColor': 'green'}
      for (let colName of Object.keys(row)) {
        let tdStyle = {};
        tdStyle['backgroundColor'] = row[colName]['backgroundcolor']
        tdStyle['color'] = row[colName]['textcolor']
        let value = row[colName]['value'];
        let Cell = <Td column={colName} style={tdStyle}>{value}</Td>
        rowArray.push(Cell)
      }
      dataArray.push(<Tr>{rowArray}</Tr>)
    }
    let tablestyle = {display: 'none',}
    if (props.displayed === true) {
      tablestyle = {display: '',}
    }
    else {
      tablestyle = {display: 'none',}
    }
    return (
      <Table className="table table-bordered table-sm table-hover"
         columns={props.data.headers}
         sortable={true}
         style={tablestyle}
         itemsPerPage={PaginationLimit}
      >
      {dataArray}
      </Table>
    )
  }
}

function FormElement(props) {
  let formStyle = {display: 'none',}
  if (props.displayed === true) {
    formStyle = {display: ''}
  }
  let optionArray = []
  for (let i of props.options) {
    optionArray.push(<option>{i}</option>)
  }
  return (
    <form style={formStyle}>
      <div className="form-group">
        <label>Date</label>
        <input type="date" 
               className="form-control" 
               onChange={props.FieldChanged}
               value={props.date}
               id="date"
        ></input>
      </div>
      <div className="form-group">
        <label>Account</label>
        <select className="form-control" 
                onChange={props.FieldChanged}
                id="account">
          {optionArray}
        </select>
      </div>
      <div className="form-group">
        <label>Amount</label>
        <input type="number" 
               className="form-control"
               id="amount"
               value={props.amount}
               onChange={props.FieldChanged}>
        </input>
      </div>
       <div className="form-group">
        <label>Description</label>
        <input type="text" 
               className="form-control"
               id="description"
               onChange={props.FieldChanged}
               value={props.description}>
        </input>
      </div>
    </form>
  )
}


function EditButton(props) {
  const buttonType = "btn btn-primary";
  let disabled = true;
  let text = "Add Transaction"
  let clickFunction = props.onClick
  if (props.locked != true) {
    disabled = false
  }
  if (props.date != '' && props.amount != '' && props.description != '') {
    text = "Submit Transaction"
    clickFunction = props.onClick2
  }
  return <div className="form-group">
           <button type="Button" 
                   className={buttonType} 
                   onClick={clickFunction} 
                   disabled={props.disabled}>{text}
           </button>
         </div>
}

function Jumbotron(props) {
  return (
    <div className="jumbotron">
      <h3>Transaction History</h3>
    </div>
  )
}

class App extends React.Component {
  constructor() {
    super();
    this.state = {transaction_data: null
                , editMode: false 
                , date: '' 
                , account: 'ADVANCED' 
                , amount: ''
                , options: []
                , description: ''
                 };
    this.ShowEdit = this.ShowEdit.bind(this);
    this.FieldChanged = this.FieldChanged.bind(this);
    this.AddTransaction = this.AddTransaction.bind(this);
  }
  componentDidMount() {
    var url = "{{url_for('accounts_api.get_account_transactions')}}"
    fetch(url, {
      method: "GET",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Cache': 'no-cache'
      },
      credentials: 'include'
      })
      .then(response => response.json())
      .then(json => {
         this.setState({transaction_data: json.data})
      })
      .catch(error => {
        alert(error)
      });
    var url = "{{url_for('accounts_api.get_accounts')}}"
    fetch(url, {
      method: "GET",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Cache': 'no-cache'
      },
      credentials: 'include'
      })
      .then(response => response.json())
      .then(json => {
         this.setState({options: json.account_array})
      })
      .catch(error => {
        alert(error)
      });
  }
  ShowEdit(event) {
    let editMode = this.state.editMode;
    this.setState({editMode: !editMode})
  }
  AddTransaction(event) {
    console.log('abc')
    fetch("{{url_for('accounts_api.add_account_transaction')}}", {
      method: "POST",
      body: JSON.stringify({
        date: this.state.date
      , account: this.state.account
      , amount: this.state.amount
      , description: this.state.description
      }),
      headers: {
      },
      credentials: 'include'
      })
      .then(response => response.json())
      .then(json => {
        console.log(json)
        this.setState({amount: '', description: '', editMode: false})
        fetch("{{url_for('accounts_api.get_account_transactions')}}", {
          method: "GET",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Cache': 'no-cache'
          },
          credentials: 'include'
          })
          .then(response => response.json())
          .then(json => {
             this.setState({transaction_data: json.data
                          })
           })
          .catch(error => {
            console.log(error);
            alert("Error. Please try again.")
           }); 
      })
      .catch(error => {
        alert(error);
        this.setState({locked: false})
      })
  }
  FieldChanged(event) {
    if (event.target.id === 'date') {
      this.setState({date: event.target.value})
    }
    if (event.target.id === 'account') {
      this.setState({account: event.target.value})
    }
    if (event.target.id === 'amount') {
      this.setState({amount: event.target.value})
    }
    if (event.target.id === 'description') {
      this.setState({description: event.target.value})
    }
  }
  render() {
    return(
      <div>
      <Jumbotron/>
      <FormElement displayed={this.state.editMode} 
                   DateChanged={this.DateChanged}
                   date={this.date}
                   options={this.state.options}
                   AccountChanged={this.AccountChanged}
                   FieldChanged={this.FieldChanged}
                   account={this.state.account}
                   amount={this.state.amount}
                   description={this.state.description}
      />
      <EditButton Name="Add Transaction" 
                  onClick={this.ShowEdit}
                  onClick2={this.AddTransaction}
                  date={this.state.date}
                  amount={this.state.amount}
                  description={this.state.description}
      />
      <DataTable data={this.state.transaction_data} displayed={true}/>
      </div>
    )
  }
}


ReactDOM.render(
  <App />,
  document.getElementById('body')
)

</script>

{% endblock %}
